<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="2084team">
    <meta name="author" content="Juminiy">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Signin 2084team</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!--static-resources-base_url:https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team-->
    <!--thymeleaf namespace : xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/css/signin.css" rel="stylesheet">
</head>
  <body class="text-center">
  <form class="form-signin" th:action="@{/login}" th:method="post">
    <img class="mb-4" src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/brand/bootstrap-solid.svg" alt="2084team.cn" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal"th:text="#{login.tip}">Please sign in</h1>
    <p style="color: red" th:text="用户认证失败,请重新注册" th:if="${param.error}" ></p>
    <label for="inputEmail" class="sr-only" th:text="#{login.email}">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" th:placeholder="#{login.email}" required autofocus>
    <label for="inputPassword" class="sr-only" th:text="#{login.password}">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" th:placeholder="#{login.password}" required>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" name="remember"> [[#{login.remember}]]
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" >[[#{login.btn}]]</button></br>
      <a class="btn btn-inverse btn-link" th:href="@{/signup}">[[#{login.auth}]]</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
      <a class="btn btn-sm" th:href="@{/signin(lang='zh_CN')}">中文</a>
      <a class="btn btn-sm" th:href="@{/signin(lang='en_US')}">English</a>
  </form>
</body>
</html>
