<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hua.mybatis.mapper.UserMapper">
    <resultMap id="userResultMap" type="User">
        <id property="id" column="id" />
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
    <select id="queryUserList" resultType="User">
        select * from security.admin ;
    </select>
    <select id="queryUserById" resultType="User" >
        select * from security.admin where id=#{id};
    </select>
    <insert id="addUser" parameterType="User">
        insert into security.admin(username, password, id) values(#{username},#{password},#{id}) ;
    </insert>
    <update id="updateUser" parameterType="User">
        update security.admin set username=#{username},password=#{password} where id=#{id} ;
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from security.admin where id=#{id} ;
    </delete>
</mapper>