<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hua.mapper.DepartmentMapper">
    <resultMap id="departmentResultMap" type="Department">
        <id property="id" column="id" />
        <result property="departmentName" column="department_name"/>
    </resultMap>
    <select id="getDepartments" resultMap="departmentResultMap" useCache="true">
        select * from department order by id ;
    </select>
    <select id="getDepartmentById" resultMap="departmentResultMap" parameterType="int">
        select * from department where id=#{id};
    </select>
</mapper>