<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="2084team">
    <meta name="author" content="Juminiy">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>招新名单-分数总集</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/css/dashboard.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/common.html::TopBar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{common/common.html::sidebarMenu(active='staff')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <h2>录取志愿与分数报表</h2>
            <div class="table-responsive">
                <p style="color: chocolate" >为了保护大家的隐私 , 我们不准备明示作品名 , 这也是我不设置密码的原因 !</p>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th sec:authorize="hasRole('admin') && hasRole('staff')" th:text="${'操作'}"></th>
                        <th>姓名</th>
                        <th>作品名</th>
                        <th>第一志愿</th>
                        <th>第二志愿</th>
                        <th>是否服从调剂</th>
                        <th>评分人1</th>
                        <th>评分人2</th>
                        <th>评分人3</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="staff:${staffs}">
                            <td sec:authorize="hasRole('admin') && hasRole('staff')">
                                <a sec:authorize="hasRole('admin') && hasRole('staff') " class="btn btn-sm btn-primary" th:href="@{/staff/recruit-update/byEmail/} + ${staff.getEmail()}">编辑</a>
                                <a sec:authorize="hasRole('admin') && hasRole('staff') " class="btn btn-sm btn-danger" th:href="@{/staff/recruit-delete/byEmail/} + ${staff.getEmail()}">删除</a>
                            </td>
                            <td th:text="${staff.getLastName()+staff.getFirstName()}"></td>
                            <td th:text="${staff.getWorkName().hashCode()}"></td>
                            <td th:text="${staff.getVolunteer1()}"></td>
                            <td th:text="${staff.getVolunteer2()}"></td>
                            <td th:text="${staff.getAdjust()==1 ? '服从':'不服从'}"></td>
                            <td th:text="${staff.getMark1()==0 ? '未评分':staff.getMark1()}"></td>
                            <td th:text="${staff.getMark2()==0 ? '未评分':staff.getMark2()}"></td>
                            <td th:text="${staff.getMark3()==0 ? '未评分':staff.getMark3()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/dashboard.js"></script></body>
</html>
