<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="2084team">
    <meta name="author" content="Juminiy">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>List All Students</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/css/bootstrap.css" rel="stylesheet">
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  </style>
  <link href="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/css/dashboard.css" rel="stylesheet">
</head>
    <body>
        <div th:replace="~{common/common.html::TopBar}"></div>

<div class="container-fluid">
  <div class="row">
    <div th:replace="~{common/common.html::sidebarMenu(active='list')}"></div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      
      <h2>学生信息</h2>
        <a class="btn btn-sm btn-outline-success" th:href="@{/employ/add}">添加学生</a>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>birth</th>
              <th>department</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="employee:${employees}">
              <td th:text="${employee.getId()}"></td>
              <td th:text="${employee.getLastName()}"></td>
              <td th:text="${employee.getEmail()}"></td>
              <td th:text="${employee.getGender()==1 ? '男':'女'}"></td>
              <td th:text="${#dates.format(employee.getBirth(),'yyyy-MM-dd')}"></td>
              <td th:text="${departments.get(employee.getDepartment()-1).getDepartmentName()}"></td>
              <td>
                  <a class="btn btn-sm btn-primary" th:href="@{/employ/update/} + ${employee.getId()}">编辑</a>
                  <a class="btn btn-sm btn-danger" th:href="@{/employ/delete/} + ${employee.getId()}">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/slim.min.js"  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Juminiy/jscdn@master/oa-2084team/assets/dist/js/dashboard.js"></script></body>
</html>
